In [1]:
import pandas as pd
import pyarrow.parquet as pq
from sqlalchemy import create_engine
import time

In [2]:
# Reading metadata
pq.read_metadata('yellow_tripdata_2025-01.parquet')

<pyarrow._parquet.FileMetaData object at 0x7dae1a29ff10>
  created_by: parquet-cpp-arrow version 14.0.2
  num_columns: 19
  num_rows: 3475226
  num_row_groups: 4
  format_version: 2.6
  serialized_size: 10625

In [4]:
file = pq.ParquetFile('yellow_tripdata_2025-01.parquet')
table = file.read()
table.schema

VendorID: int32
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: int64
trip_distance: double
RatecodeID: int64
store_and_fwd_flag: large_string
PULocationID: int32
DOLocationID: int32
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
Airport_fee: double

In [5]:
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3475226 entries, 0 to 3475225
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 464.0+ MB

In [6]:
# Creating a connection to Postgres
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')
engine.connect()

In [7]:
# Generating CREATE SQL statement from schema for validation
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" INTEGER,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" INTEGER,
	"DOLocationID" INTEGER,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

# Inserting the Data into PSQL Database

In [10]:
# Creating batches of 100,000 for the parquet file
batches_iter = file.iter_batches(batch_size=100000)
batches_iter

df = next(batches_iter).to_pandas()
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1,1.60,1,N,229,237,1,10.0,3.5,0.5,3.00,0.0,1.0,18.00,2.5,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1,0.50,1,N,236,237,1,5.1,3.5,0.5,2.02,0.0,1.0,12.12,2.5,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1,0.60,1,N,141,141,1,5.1,3.5,0.5,2.00,0.0,1.0,12.10,2.5,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3,0.52,1,N,244,244,2,7.2,1.0,0.5,0.00,0.0,1.0,9.70,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3,0.66,1,N,244,116,2,5.8,1.0,0.5,0.00,0.0,1.0,8.30,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2025-01-02 12:29:15,2025-01-02 12:46:16,2,2.44,1,N,186,50,1,17.7,0.0,0.5,4.34,0.0,1.0,26.04,2.5,0.0
99996,2,2025-01-02 12:54:47,2025-01-02 13:11:29,3,0.88,1,N,246,164,1,14.9,0.0,0.5,1.00,0.0,1.0,19.90,2.5,0.0
99997,2,2025-01-02 12:12:22,2025-01-02 12:39:41,1,5.33,1,N,230,88,1,29.6,0.0,0.5,6.72,0.0,1.0,40.32,2.5,0.0
99998,2,2025-01-02 12:31:07,2025-01-02 12:58:04,1,2.67,1,N,48,263,1,23.3,0.0,0.5,8.19,0.0,1.0,35.49,2.5,0.0
99999,2,2025-01-02 12:59:38,2025-01-02 13:08:31,1,1.27,1,N,263,141,1,10.0,0.0,0.5,2.80,0.0,1.0,16.80,2.5,0.0

In [12]:
t_start = time.time()

count = 0

for batch in file.iter_batches(batch_size=100000):
    count += 1
    batch_df = batch.to_pandas()
    print(f'Inserting batch {count}...')
    b_start = time.time()

    batch_df.to_sql(name='ny_taxi_data', con=engine, if_exists='append')
    b_end = time.time()
    print(f'Inserted! Time taken: {b_end - b_start:10.3f} seconds \n')

t_end = time.time()
print(f'Completed! Total time taken was {t_end - t_start:10.3f} seconds for {count} batches.')

Inserting batch 1...
Inserted! Time taken:     18.131 seconds

Inserting batch 2...
Inserted! Time taken:     17.978 seconds

Inserting batch 3...
Inserted! Time taken:     17.675 seconds

Inserting batch 4...
Inserted! Time taken:     17.190 seconds

Inserting batch 5...
Inserted! Time taken:     17.887 seconds

Inserting batch 6...
Inserted! Time taken:     17.570 seconds

Inserting batch 7...
Inserted! Time taken:     16.800 seconds

Inserting batch 8...
Inserted! Time taken:     16.752 seconds

Inserting batch 9...
Inserted! Time taken:     18.175 seconds

Inserting batch 10...
Inserted! Time taken:     17.766 seconds

Inserting batch 11...
Inserted! Time taken:     16.949 seconds

Inserting batch 12...
Inserted! Time taken:     15.800 seconds

Inserting batch 13...
Inserted! Time taken:     17.487 seconds

Inserting batch 14...
Inserted! Time taken:     16.756 seconds

Inserting batch 15...
Inserted! Time taken:     15.642 seconds

Inserting batch 16...
Inserted! Time taken:     16.286 seconds

Inserting batch 17...
Inserted! Time taken:     17.914 seconds

Inserting batch 18...
Inserted! Time taken:     16.323 seconds

Inserting batch 19...
Inserted! Time taken:     16.810 seconds

Inserting batch 20...
Inserted! Time taken:     16.389 seconds

Inserting batch 21...
Inserted! Time taken:     16.104 seconds

Inserting batch 22...
Inserted! Time taken:     16.234 seconds

Inserting batch 23...
Inserted! Time taken:     17.006 seconds

Inserting batch 24...
Inserted! Time taken:     17.020 seconds

Inserting batch 25...
Inserted! Time taken:     17.867 seconds

Inserting batch 26...
Inserted! Time taken:     16.037 seconds

Inserting batch 27...
Inserted! Time taken:     16.939 seconds

Inserting batch 28...
Inserted! Time taken:     16.838 seconds

Inserting batch 29...
Inserted! Time taken:     16.589 seconds

Inserting batch 30...
Inserted! Time taken:     15.589 seconds

Inserting batch 31...
Inserted! Time taken:     15.607 seconds

Inserting batch 32...
Inserted! Time taken:     14.862 seconds

Inserting batch 33...
Inserted! Time taken:     15.947 seconds

Inserting batch 34...
Inserted! Time taken:     14.318 seconds

Inserting batch 35...
Inserted! Time taken:     11.587 seconds

Completed! Total time taken was    581.544 seconds for 35 batches.